body {
  font-family: Cursive, 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h1, h4 {
  font-family: Cursive, 'Playfair Display', serif;
}

textarea {
  background: transparent;
  height: auto;
  scroll-behavior: auto;
}

.jumbotron {
  text-align: center;
  border-radius: 0;
  background: rgb(210,226,248);
  box-shadow: 2px 2px 3px 2px lightgrey;
}

.jumbotron h1 {
  color: #488abe;
}

.lead {
  color: #536195;
}

.past {
  background-color: #d4e4fd;
  color: black;
}

.present {
  background-color: red;
  color: white;
}

.future {
  background-color: green;
  color: white;
}

.input-group-text {
  background-color: white;
  border: 1px dashed black;
  color: #536195;
}

.form-control { 
  border: 1px solid #a1b7e4;
}